section{
    position: absolute;
    background: rgb(186, 213, 230);
    border: 1px solid;
    border-radius: 5px;
    width: 400px;
    height: 650px;
    font-family: Arial, Helvetica, sans-serif;
}

.img-fondo{
    position: relative;
    width: 100%;
    height: 80%;
    background-image: url(./img/image.png);
    background-size: cover;
    background-position: center center;
}

.items{
    padding: 480px 0 0 15px;
}

.item{
    font-weight: bold;
    color: #fff;
    float: left;
    padding: 0 0 0 25px;
    bottom: 100%;
}

.perfil{
    box-sizing: border-box;
    margin: 15px 0 0 15px;
}

.perfil-img{
    float: left;
    background-image: url(img/photo-1438761681033-6461ffad8d80.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.perfil-text{

    box-sizing: border-box;
    padding: 5px 0 0 115px;
}

.perfil h4{
    margin: -15px 0 0 0;
    color: grey;
}

    